.activated-box{
    background-color: rgba(0, 191, 255, 1);
	font-weight: lighter;
	border: none;
    font-size: 1em;
    color: #ffffff;
}

.navbar-nav li .activated-font{
    color: white !important;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

@font-face {
    font-family: 'Moon';
    font-weight: bold;
    src: url(../fonts/MoonBold.otf) format("opentype");
}

@font-face {
    font-family: 'Moon';
    src: url(../fonts/MoonLight.otf) format("opentype")
}

#main-nav {
	background-color: #ffffff;
	font-weight: lighter;
	border: none;
    font-size: 1em;
}

.navbar .navbar-collapse {
  text-align: center;
    
}

.logo {
    font-size: 1em;
    padding: .714285em .6em 2.85714em;
}

.logo img{
    height: 2.2em;
}

.navbar-nav li{
    font-family: 'Moon';
    font-size: 1.071428em;
    font-weight: 300;
    padding: .20000em ;
    text-transform: uppercase;
    text-decoration: none;   
    -o-transition: color .2s ease-out, background 1s ease-in;
    -ms-transition: color .2s ease-out, background 1s ease-in;
    -moz-tansition: color .2s ease-out, background 1s ease-in;
    -webkit-transition: color .2s ease-out, background 1s ease-in;
    transition: color .5s ease-out, background .5s ease-in;
    overflow: hidden;
}

.navbar-nav a {
    -o-transition: color .2s ease-out, background 1s ease-in;
    -ms-transition: color .2s ease-out, background 1s ease-in;
    -moz-tansition: color .2s ease-out, background 1s ease-in;
    -webkit-transition: color .2s ease-out, background 1s ease-in;
    transition: color .5s ease-out, background .5s ease-in;
}



.navbar-nav li:hover{
    background: rgba(0, 191, 255, 1);
    cursor: pointer;
    font-weight: 500;
}

.navbar-nav li:hover a {
    color: white !important;
}

.jumbotron {
    height: 45em;
    width: 100%;
    text-align: center; 
    background: linear-gradient( rgba(0, 191, 255, 0.6), rgba(0, 191, 255, 0.6) ), url("../images/home_jumbo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 0;
    font-size: 1em;
}

.jumbotron h1 {
	font-size: 2em;
    color: #ffffff;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Moon';
    font-weight: bold;
}

.jumbotron p {
    font-family: 'Moon';
	font-weight: lighter;
    font-size: 1.1em;
	margin-bottom: 0;
    margin-left: 2em;
    margin-right: 2em;
	margin-top: 0;
    text-transform: uppercase;
    color: #ffffff;
}

.jumbotron .buttons{
    font-family: 'Moon';
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: lighter;
    background: transparent; 
    padding: 0.4em 1.2em 0.4em 1.12em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    border: 3px solid #ffffff;
    border-radius: 0.52em;
    display: inline-block;
    text-align: center;
    transition: color .5s ease-out, background .5s ease-in;
    transition: border-color .5s ease-out, background .5s ease-in;
}

.jumbotron .buttons:hover {
	background-color: rgba(0, 191, 255, 1);
    color: #ffffff;
	cursor: pointer;
    text-decoration: none;
    border-color: rgba(0, 191, 255, 1);
}


.our-story {
    width: 100%;
    background-color: #ffffff;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.our-story h1 {
    margin-top: 0;
    color: rgba(0, 191, 255, 1);
    font-size: 3.5em;  
    font-family: 'Moon';
    text-align: center;
    vertical-align: middle;
}

.our-story h3 {
    font-family: sans-serif;  
    text-align: center;
    font-size: 1.5em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    color: #696969;
}

.meet-the-team {
    width: 100%;
    text-align: center; 
    background: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) ), url("../images/stock.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 7em;
    padding-top: 7em;
    font-size: 1em;
}

.meet-the-team h1 {
	font-size: 2em;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Moon';
    font-weight: bold;
}

.meet-the-team p {
    font-family: sans-serif;
	font-weight: lighter;
    font-size: 1.3em;
	margin-bottom: .5em;
    margin-left: .2em;
    margin-right: .2em;
	margin-top: 0;
    text-transform: uppercase;
    color: #ffffff;
}

.meet-the-team .buttons{
    font-family: 'Moon';
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: lighter;
    background: transparent; 
    padding: 0.4em 1.2em 0.4em 1.12em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    border: 3px solid #ffffff;
    border-radius: 0.52em;
    display: inline-block;
    text-align: center;
    transition: color .5s ease-out, background .5s ease-in;
    transition: border-color .5s ease-out, background .5s ease-in;
}

.meet-the-team .buttons:hover {
	background-color: rgba(0, 191, 255, 1);
    color: #ffffff;
	cursor: pointer;
    text-decoration: none;
    border-color: rgba(0, 191, 255, 1);
}

.project {
    width: 100%;
    background-color: #ffffff;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.project img{
    width: 100%;
    border-radius: 1.6em;
    border: 0.2em solid #efefef;
    margin-bottom: 1.5em;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.project .img-holder{
    max-width: 100%; 
    display:block; 
    height: auto;
    margin-bottom: .5em;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.project h1 {
    margin-top: 0;
    color: rgba(0, 191, 255, 1);
    font-size: 3.5em;  
    font-family: 'Moon';
    text-align: center;
    vertical-align: middle;
}

.project p {
    font-family: sans-serif;
	font-weight: lighter;
    font-size: 1.3em;
	margin-bottom: .5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
	margin-top: 0;
    color: #696969;
    text-align: center;
}

.project .buttons{
    font-family: 'Moon';
    font-size: 1.5em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
    background: transparent; 
    padding: 0.4em 1.2em 0.4em 1.12em;
    color: rgba(0, 191, 255, 1);
    text-decoration: none;
    text-transform: uppercase;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    border: 3px solid rgba(0, 191, 255, 1);
    border-radius: 0.52em;
    display: inline-block;
    text-align: center;
    transition: color .5s ease-out, background .5s ease-in;
    transition: border-color .5s ease-out, background .5s ease-in;
}

.project .buttons:hover {
	background-color: rgba(0, 191, 255, 1);
    color: #ffffff;
	cursor: pointer;
    text-decoration: none;
    border-color: rgba(0, 191, 255, 1);
}


.join-us {
    width: 100%;
    background-color: #efefef;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.join-us h1 {
    margin-top: 0;
    color: rgba(0, 191, 255, 1);
    font-size: 3.5em;  
    font-family: 'Moon';
    text-align: center;
    vertical-align: middle;
}

.join-us h3 {
    font-family: sans-serif;  
    text-align: center;
    font-size: 1.5em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    color: #696969;
}

.join-us .buttons{
    font-family: 'Moon';
    font-size: 1.5em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
    background: transparent; 
    padding: 0.4em 1.2em 0.4em 1.12em;
    color: rgba(0, 191, 255, 1);
    text-decoration: none;
    text-transform: uppercase;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    border: 3px solid rgba(0, 191, 255, 1);
    border-radius: 0.52em;
    display: inline-block;
    text-align: center;
    transition: color .5s ease-out, background .5s ease-in;
    transition: border-color .5s ease-out, background .5s ease-in;
}

.join-us .buttons:hover {
	background-color: rgba(0, 191, 255, 1);
    color: #ffffff;
	cursor: pointer;
    text-decoration: none;
    border-color: rgba(0, 191, 255, 1);
}


.footer {
    width: 100%;
    padding-top: 2em;
    font-size: 1em;
    font-family: 'Moon';
    color: #fffffff;
    background-color: #3d3d3d;
}

.dash{
    border: 0.25em solid #ffffff;
    border-radius: 2em;
    margin-top: .2em;
    margin-bottom: 1em;
    margin-right: 5em;
    margin-left: 5em;
}


.footer ul {
    list-style:none;
    padding-left:0;
    font-size: 1.071428571em;
    margin-bottom: 2em;
}

.footer li {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.footer li a {
    
    text-decoration:none;
    color: #ffffff;
    padding-left: .4em;
    padding-right: .4em;
    padding-top: .1em;
    padding-bottom: .1em;
    border-radius: 5em;
    
    -o-transition: color .2s ease-out, background 1s ease-in;
    -ms-transition: color .2s ease-out, background 1s ease-in;
    -moz-tansition: color .2s ease-out, background 1s ease-in;
    -webkit-transition: color .2s ease-out, background 1s ease-in;
    transition: color .5s ease-out, background .5s ease-in;  
}

.footer li a:visited {
    text-decoration: none;
}

.footer li a:hover {
    text-decoration: none;
    color: white;
    background-color: #545454;
}

.footer li a:active {
    text-decoration: none;
}

.general {
    margin-bottom: 0;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.legal{
    margin-bottom: 1em;
    font-size: .8em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

/**********LOGO************/

@media screen and (min-width: 768px){
    .logo {
        padding: .96em 1.2em 2.3em;
    }
}

/**********Jumbotron************/

@media screen and (min-height: 540px){
    .jumbotron h1{
        margin-top: 5.1em;
        font-size: 2.3em;
    }
    
    .jumbotron p{
        margin-left: 2.2em;
        margin-right: 2.2em;
        font-size: 1.3em;
    }
}

@media screen and (min-height: 560px){
    .jumbotron h1{
        margin-top: 5.2em;
        font-size: 2.4em;
    }
    
    .jumbotron p{
        font-size: 1.2em;
    }
}

@media screen and (min-height: 580px){
    .jumbotron h1{
        margin-top: 5.4em;
        font-size: 2.6em;
    }
    
    .jumbotron p{
        font-size: 1.4em;
    }
}

@media screen and (min-height: 620px){
    .jumbotron{
        height: 50em;
    }
    
    .jumbotron h1{
        margin-top: 5.4em;
        font-size: 2.6em;
    }
    
    .jumbotron p{
        font-size: 1.5em;
        margin-left: 1.4em;
        margin-right: 1.4em;
    }
}

@media screen and (min-height: 650px){
    .jumbotron{
        height: 52em;
    }
    
    .jumbotron h1{
        margin-top: 5.4em;
        font-size: 3em;
    }
    
    .jumbotron p{
        font-size: 1.7em;
    }
}

@media screen and (min-height: 690px){
    .jumbotron{
        height: 54em;
    }
    
    .jumbotron h1{
        margin-top: 5em;
        font-size: 3.5em;
    }
    
    .jumbotron p{
        font-size: 1.9em;
    }
}


@media screen and (min-height: 720px){
    .jumbotron{
        height: 56em;
    }
    
    .jumbotron h1{
        margin-top: 5em;
        font-size: 3.4em;
    }
    
    .jumbotron p{
        margin-left: 1.3em;
        margin-right: 1.3em;
        font-size: 1.7em;
    }
}


@media screen and (min-height: 760px){
    .jumbotron{
        height: 58em;
    }
    
    .jumbotron h1{
        font-size: 3.7em;
        margin-top: 5.2em;
    }
    
    .jumbotron p{
        font-size: 1.9em;
    }
}

@media screen and (min-height: 780px){
    .jumbotron{
        height: 60em;
    }
    
    .jumbotron h1{
        font-size: 3.8em;
        margin-top: 5.4em;
    }
    
    .jumbotron p{
        font-size: 1.9em;
    }
}

@media screen and (min-height: 800px){
    .jumbotron{
        height: 59em;
    }
    
    .jumbotron h1{
        margin-top: 5.4em;
    }
}

@media screen and (min-height: 840px){
    .jumbotron{
        height: 61em;
    }
    
    .jumbotron h1{
        margin-top: 5.7em;
    }
}

@media screen and (min-height: 860px){
    .jumbotron{
        height: 65em;
    }
    
    .jumbotron h1{
        margin-top: 5.4em;
    }
}

@media screen and (min-height: 900px){
    .jumbotron{
        height: 66em;
    }
    
    .jumbotron h1{
        margin-top: 5.5em;
    }
}

/**********Our Story************/

        /**********Mobile************/

@media screen and (min-height: 540px){
    .our-story{
        padding-top: 5.4rem;
        padding-bottom: 5.4rem;
    }
}

@media screen and (min-height: 580px) {
    .our-story{
        padding-top: 5.6rem;
        padding-bottom: 5.6rem;
    }
    
    .our-story h1{
        font-size: 3.8em;
    }
    
    .our-story h3{
        font-size: 1.7em;
    }
}

@media screen and (min-height: 600px) {
    .our-story{
        padding-top: 5.8rem;
        padding-bottom: 5.8rem;
    }
    
    .our-story h1{
        font-size: 4em;
    }
    
    .our-story h3{
        font-size: 1.9em;
    }
}

@media screen and (min-height: 650px) {
    .our-story{
        padding-top: 6.2rem;
        padding-bottom: 6.2rem;
    }
    
    .our-story h1{
        font-size: 4em;
    }
    
    .our-story h3{
        font-size: 2em;
    }
}

        /**********Web************/





/**********Meet the Team************/

@media screen and (min-height: 540px){
    .meet-the-team h1{
        margin-top: 4.1em;
        font-size: 2.3em;
    }
    
    .meet-the-team p{
        margin-left: 2.2em;
        margin-right: 2.2em;
        font-size: 1.3em;
    }
}

@media screen and (min-height: 560px){
    .meet-the-team h1{
        margin-top: 4.2em;
        font-size: 2.4em;
    }
    
    .meet-the-team p{
        font-size: 1.2em;
    }
}

@media screen and (min-height: 580px){
    .meet-the-team h1{
        margin-top: 4.4em;
        font-size: 2.6em;
    }
    
    .meet-the-team p{
        font-size: 1.4em;
    }
}

@media screen and (min-height: 620px){
    .meet-the-team{
        height: 50em;
    }
    
    .meet-the-team h1{
        margin-top: 4.4em;
        font-size: 2.6em;
    }
    
    .meet-the-team p{
        font-size: 1.5em;
        margin-left: 1.4em;
        margin-right: 1.4em;
    }
}

@media screen and (min-height: 650px){
    .meet-the-team{
        height: 52em;
    }
    
    .meet-the-team h1{
        margin-top: 4.4em;
        font-size: 3em;
    }
    
    .meet-the-team p{
        font-size: 1.7em;
    }
}

@media screen and (min-height: 690px){
    .meet-the-team{
        height: 54em;
    }
    
    .meet-the-team h1{
        margin-top: 4em;
        font-size: 3.5em;
    }
    
    .meet-the-team p{
        font-size: 1.9em;
    }
}


@media screen and (min-height: 720px){
    .meet-the-team{
        height: 56em;
    }
    
    .meet-the-team h1{
        margin-top: 4em;
        font-size: 3.4em;
    }
    
    .meet-the-team p{
        margin-left: 1.3em;
        margin-right: 1.3em;
        font-size: 1.7em;
    }
}


@media screen and (min-height: 760px){
    .meet-the-team{
        height: 58em;
    }
    
    .meet-the-team h1{
        font-size: 3.7em;
        margin-top: 4.2em;
    }
    
    .meet-the-team p{
        font-size: 1.9em;
    }
}

@media screen and (min-height: 780px){
    .meet-the-team{
        height: 60em;
    }
    
    .meet-the-team h1{
        font-size: 3.8em;
        margin-top: 4.4em;
    }
    
    .meet-the-team p{
        font-size: 1.9em;
    }
}

@media screen and (min-height: 800px){
    .meet-the-team{
        height: 59em;
    }
    
    .meet-the-team h1{
        margin-top: 4.4em;
    }
}

@media screen and (min-height: 840px){
    .meet-the-team{
        height: 61em;
    }
    
    .meet-the-team h1{
        margin-top: 4.7em;
    }
}

@media screen and (min-height: 860px){
    .meet-the-team{
        height: 65em;
    }
    
    .meet-the-team h1{
        margin-top: 4.4em;
    }
}

@media screen and (min-height: 900px){
    .meet-the-team{
        height: 66em;
    }
    
    .meet-the-team h1{
        margin-top: 4.5em;
    }
}

@media screen and (min-width: 620px){
    .meet-the-team p{
        margin-left: 3em;
        margin-right: 3em;
    }
}

@media screen and (min-width: 700px){
    .meet-the-team p{
        margin-left: 5em;
        margin-right: 5em;
    }
}

@media screen and (min-width: 760px){
    .meet-the-team p{
        margin-left: 6em;
        margin-right: 6em;
    }
}

@media screen and (min-width: 1000px){
    .meet-the-team p{
        margin-left: 10em;
        margin-right: 10em;
    }
}

@media screen and (min-width: 1200px){
    .meet-the-team p{
        margin-left: 15em;
        margin-right: 15em;
    }
}

/**********Project************/

@media screen and (min-width: 400px){
    .project p{
        margin-left: 4em;
        margin-right: 4em;
    }
}

@media screen and (min-width: 500px){
    .project p{
        margin-left: 6em;
        margin-right: 6em;
    }
}

@media screen and (min-width: 600px){
    .project p{
        margin-left: 8em;
        margin-right: 8em;
    }
}

@media screen and (min-width: 700px){
    .project p{
        margin-left: 12em;
        margin-right: 12em;
    }
}

@media screen and (min-width: 768px){
    .project p{
        font-size: 1.5em;
        margin-left: 2em;
        margin-right: 2em;
    }
}

@media screen and (min-width: 840px){
    .project p{
        font-size: 1.6em;
        margin-left: 3em;
        margin-right: 3em;
    }
}

@media screen and (min-width: 900px){
    .project p{
        font-size: 1.6em;
        margin-left: 3.5em;
        margin-right: 3.5em;
    }
}

@media screen and (min-width: 1000px){
    .project p{
        font-size: 1.6em;
        margin-left: 3.5.8em;
        margin-right: 3.8em;
    }
}

@media screen and (min-width: 1100px){
    .project p{
        font-size: 1.6em;
        margin-left: 4em;
        margin-right: 4em;
    }
}

@media screen and (min-width: 1200px){
    .project p{
        font-size: 2em;
        margin-left: 4em;
        margin-right: 4em;
    }
}
/**********Join Us************/

@media screen and (min-height: 540px){
    .join-us{
        padding-top: 5.4rem;
        padding-bottom: 5.4rem;
    }
}

@media screen and (min-height: 580px) {
    .join-us{
        padding-top: 5.6rem;
        padding-bottom: 5.6rem;
    }
    
    .join-us h1{
        font-size: 3.8em;
    }
    
    .join-us h3{
        font-size: 1.7em;
    }
}

@media screen and (min-height: 600px) {
    .join-us{
        padding-top: 5.8rem;
        padding-bottom: 5.8rem;
    }
    
    .join-us h1{
        font-size: 4em;
    }
    
    .join-us h3{
        font-size: 1.9em;
    }
}

@media screen and (min-height: 650px) {
    .join-us{
        padding-top: 6.2rem;
        padding-bottom: 6.2rem;
    }
    
    .join-us h1{
        font-size: 4em;
    }
    
    .join-us h3{
        font-size: 2em;
    }
}

/**********Text for join-us and our-story************/

@media screen and (min-width: 800px){
    .our-story h3, .join-us h3{
        margin: 0 2em;
    }
}

@media screen and (min-width: 830px){
    .our-story h3, .join-us h3{
        margin: 0 3em;
    }
}

@media screen and (min-width: 890px){
    .our-story h3, .join-us h3{
        margin: 0 4em;
    }
}

@media screen and (min-width: 930px){
    .our-story h3, .join-us h3{
        margin: 0 5em;
    }
}

@media screen and (min-width: 990px){
    .our-story h3, .join-us h3{
        margin: 0 6em;
    }
}

@media screen and (min-width: 1060px){
    .our-story h3, .join-us h3{
        margin: 0 7em;
    }
}

@media screen and (min-width: 1120px){
    .our-story h3, .join-us h3{
        margin: 0 8em;
    }
}

@media screen and (min-width: 1200px){
    .our-story h3, .join-us h3{
        margin: 0 10em;
    }
}

@media screen and (min-width: 1220px){
    .our-story h3, .join-us h3{
        margin: 0 11em;
    }
}
/**********Footer************/

@media screen and (min-width: 992px){
    
    .footer li{
        display: inline-block;
        text-align: left;
    }
    
    
    .footer ul{
        margin-left: 5em;
    }
    
    .legal{
        text-align: right;
        margin-right: 5em;
    }
    
    .legal p{
       padding-left: .8em; 
    }
}

    
    


